<div class="w-full h-auto flex justify-center items-center fixed top-0 left-0 box-border px-5 py-3 z-50 ease-linear duration-200">
  <div class="w-auto max-w-full h-auto flex justify-center items-center gap-2 bg-[var(--color-dark-blue-bg)] py-3 px-5">
    <p id="alert-text" class="text-sm text-[var(--color-grey-bg)] text-center block w-full"></p>
    <button data-close class="w-6 aspect-square flex justify-center items-center text-[var(--color-low-blue-bg)] hover:text-[var(--color-grey-bg)]">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-full aspect-square" viewBox="0 0 48 48">
        <defs>
          <mask id="ipSCloseOne0">
            <g fill="none" stroke-linejoin="round" stroke-width="4">
              <path fill="#fff" stroke="#fff" d="M24 44c11.046 0 20-8.954 20-20S35.046 4 24 4S4 12.954 4 24s8.954 20 20 20Z" />
              <path stroke="#000" stroke-linecap="round" d="M29.657 18.343L18.343 29.657m0-11.314l11.314 11.314" />
            </g>
          </mask>
        </defs>
        <path fill="currentColor" d="M0 0h48v48H0z" mask="url(#ipSCloseOne0)" />
      </svg>
    </button>
  </div>
</div>
